<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<th:block th:fragment="head">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</th:block>
</head>
<body>

	<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">MushroomFinder</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/map">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/filter/">Filter</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/lexicon">Lexicon</a>
	      </li>
	      <li class="nav-item" th:if="${session.login==null}">
	        <a class="nav-link" href="/login">Login</a>
	      </li>
	      <li class="nav-item" th:if="${session.login==null}">
	        <a class="nav-link" href="/register">Register</a>
	      </li>
	      <li class="nav-item" th:if="${session.login != null}">
	        <a class="nav-link" th:text="${session.login}"></a>
	      </li>
	      <li class="nav-item" th:if="${session.login != null}">
	        <a class="nav-link" href="/logout">Logout</a>
	      </li>

	    </ul>
	    <form class="form-inline my-2 my-lg-0" th:action="@{/lexicon}" method="get">
	      <input class="form-control mr-sm-2" id="searchTerm" name="searchTerm" th:value="${searchTerm}" placeholder="Search Lexicon" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
	</div>
</body>
</html>