<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mushroom Finder: Id Request</title>
    <div th:replace="layout/navbar::head"></div>
</head>
<body>
<div th:insert="layout/navbar::navbar"></div>
<form action="#" enctype="multipart/form-data" method="post" th:action="@{/mushroomIds/add}" th:object="${mushroomId}">
    <label>User ID:</label>
    <input type="text" th:field="*{userId}"/>
    <br>
    <label>Picture:</label>
    <input type="file" name="picture" th:field="*{picture}"/>
    Max 60KB!
    <br>
    <label>Location:</label>
    <input type="text" th:field="*{location}"/>
    <br>
    <label>Description:</label>
    <input th:field="*{description}" type="text"/>
    <br>
    <input type="submit" value="Save"/>
</form>
<a href="/mushroomIds">Back</a>
</body>
</html>
