<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Users</title>
<div th:replace="layout/navbar::head"></div>
</head>
<body>
	<div th:insert="layout/navbar::navbar"></div>
    <table class="table">
        <thead>
	        <tr>
	          <th>Name</th>
	          <th>Login</th>
	          <th>Email</th>
	          <th>Authorities</th>
	          <th>Action</th>
	        </tr>
        </thead>
        <tbody>
        	<tr th:each="user : ${users}">
        		<td th:text="${user.name}"></td>
        		<td th:text="${user.login}"></td>
        		<td th:text="${user.email}"></td>
        		<td><p th:each="authority : ${user.myauthorities}"><a th:text="${authority.description}"></a></p> </td>
        		<td><a th:href="@{/user/edit/{id}(id = ${user.id})}">Edit</a>
        	</tr>
        </tbody>
        </table>
</body>
</html>