<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mushroom Finder: Lexicon</title>
    <div th:replace="layout/navbar::head"></div>
</head>
<body>
<div th:insert="layout/navbar::navbar"></div>
<h1>Mushroom Lexicon</h1>
<a href="/map">Back to Map</a>
<a href="/lexicon/add">Add new Lexicon Entry</a>
<form action="#" th:action="@{/lexicon}" method="get">
    <label for="searchTerm">Search Term:</label>
    <input type="text" id="searchTerm" name="searchTerm" th:value="${searchTerm}">
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Picture</th>
    </tr>
    <tr th:each="mushroom : ${mushrooms}">
        <td th:text="${mushroom.name}"></td>
        <td th:text="${mushroom.description}"></td>
        <td><img th:src="@{/mushrooms/picture/{id}(id=${mushroom.id})}" alt="no picture available" width="100" height="100"></td>
        <td><a th:href="@{/lexicon/modify/{id}(id=${mushroom.id})}">Edit</a></td>
    </tr>
</table>
</body>
</html>