<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mushroom Finder: Lexicon</title>
</head>
<body>
<h1>Mushroom Lexicon</h1>
<a href="/map">Zurück zur Karte</a>
<form action="#" th:action="@{/lexicon}" method="get">
    <label for="searchTerm">Search Term:</label>
    <input type="text" id="searchTerm" name="searchTerm" th:value="${searchTerm}">
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Picture</th>
    </tr>
    <tr th:each="mushroom : ${mushrooms}">
        <td th:text="${mushroom.name}"></td>
        <td th:text="${mushroom.description}"></td>
        <td><img th:src="${mushroom.picture}" alt="no picture available" style="height: 150px"></td>
        <td><a th:href="@{/lexicon/modify/{id}(id=${mushroom.id})}">Edit</a></td>
    </tr>
</table>
</body>
</html>