<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1> Login page</h1>
<form action="login" th:action="@{/login}" th:object="${user}" method="post" enctype="multipart/form-data">
    <th:if test="${param.error != null}">
        <p>
            Invalid username and password.
        </p>
    </th:if>
    <th:if test="${param.logout != null}">
        <p>
            You have been logged out.
        </p>
    </th:if>
    <tr>
        <td>Username</td>
        <td><input type="text" th:field="*{username}"/></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" th:field="*{password}"/></td>
    </tr>
    <tr>
        <td><input type="submit" value="Log in"></td>
    </tr>

</form>
</body>
</html>
