<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mushroom Finder: Lexicon</title>
</head>
<body>
<h1>Edit Lexicon Entry</h1>

<form th:object="${mushroom}" th:action="@{/mushrooms/edit/{id}(id=${mushroom.id})}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea th:field="*{description}"></textarea></td>
        </tr>
        <tr>
            <td>Picture:</td>
            <td><input type="file" th:field="*{picture}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>