<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<title>All comments on this spot</title>
</head>
<body>
	<h1>Comments:</h1>
	
	<div class="row d-flex justify-content-center" th:if="${ not#lists.isEmpty(comments)}">
  		<div class="col-md-8 col-lg-6">
    		<div class="card shadow-0 border" style="background-color: #f0f2f5;">
      			<div class="card-body p-4" th:each="comment : ${comments}">
              		<div class="card mb-4">
          				<div class="card-body" >
            				<p th:text="${comment.message}"></p>
							<div class="d-flex justify-content-between">
   								<div class="d-flex flex-row align-items-center">
     								<p class="small mb-0 ms-2" th:text="${comment.date}"></p>
     							</div>
     							<div class="d-flex flex-row align-items-center">
     								<a class="small mb-0 ms-2" th:href="@{edit/{id}(id=${comment.id})}">Edit</a>
     							</div>
     							<div class="d-flex flex-row align-items-center">
     								<a class="small mb-0 ms-2" th:href="@{delete/{id}(id=${comment.id})}">Delete</a>
     							</div>
     						</div>
            			</div>
            		</div>
            	</div>
            </div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>