<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mushroom Finder: Spots</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<div th:replace="layout/navbar::head"></div>
</head>
<body>
<div th:insert="layout/navbar::navbar"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Spots</h1>
      <a href="/map" class="btn btn-secondary">Back to Map</a>
      <form action="#" th:action="@{/spots}" method="get" class="form-inline my-2 my-lg-0">
        <label for="searchTerm" class="sr-only">Search Term:</label>
        <input type="text" id="searchTerm" name="searchTerm" th:value="${searchTerm}" placeholder="search by name" class="form-control mr-sm-2">
        <input type="submit" value="Search" class="btn btn-primary my-2 my-sm-0">
      </form>

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Picture</th>
          <th>Longitude</th>
          <th>Latitude</th>
          <th style="display:none">spotid</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spot : ${spots}">
          <td th:text="${spot.name}"></td>
          <td th:text="${spot.description}"></td>
          <td><img th:src="@{/spots/picture/{id}(id=${spot.id})}" alt="no picture available" width="100" height="100"></td>
          <td th:text="${spot.longitude}"></td>
          <td th:text="${spot.latitude}"></td>
          <td><input type="hidden" id="spotId" th:text="${spot.id}"></td>

          <td>
            <a th:href="@{/spots/edit/{id}(id=${spot.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/spots/{id}(id=${spot.id})}" class="btn btn-primary">Details</a>
            <a th:href="@{/spots/visitor/add/{id}(id=${spot.id})}" class="btn btn-secondary">Visited?</a>
			<a th:href="@{/comments/{id}(id=${spot.id})}" class="btn btn-primary">View Comments</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>