<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add a comment</title>
</head>
<body>
	<div th:insert="layout/navbar::navbar">
	</div>
	<form action="#" th:object="${comment}" th:action="@{save/{id}(id=${comment.id})}" method="post" enctype="multipart/form-data">
	    <table>
	        <tr>
	            <td>Description:</td>
	            <td><textarea th:field="*{message}"></textarea></td>
	        </tr>
	        <tr>
	            <td><input type="submit" value="Save"></td>
	        </tr>
	    </table>
	</form>
</body>
</html>